.xbox{
    padding-top: 0px;;
    padding-right: 20px;
}

.bing{
    padding-top: 37px;
    padding-right: 20px;
}

.windows{
    padding-top: 47px;
    padding-right: 20px;
}

.edge{
    padding-top: 20px;
}

