.colors{
    display: flex;
    flex-direction: row;
    height: 1vh;
    gap: 0;
}

.colors div:nth-child(1){
    background-color: rgb(219, 61, 61);
    flex: 0 0 70px;
    border-radius: 2px;
}

.colors div:nth-child(2){
    background-color: rgb(240, 170, 193);
    flex: 0 0 300px;
    border-radius: 2px;
}

.container{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgba(156, 149, 149, 0.322);
    border-left: 1px solid rgba(156, 149, 149, 0.322);
}

.container div:nth-child(1){
    background-color: rgb(219, 61, 61);
    color: white;
}


